/* Tag selectors */
html,
body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}

/* Styles applied to each webpage */
.content {
  font-family: "Roboto Mono", monospace;
  min-height: 100%;
  margin-bottom: -2%;
}

/* about.html styles */
.about {
  text-align: center;
}

.about-img {
  width: 90%;
}
.about-text {
  text-align: left;
  margin: 2% 4%;
}

/* add.html styles */
/* delete.html styles */
/* index.html styles */
.reset-btn {
  margin: 0;
  margin-bottom: 1%;
}

.reset-select {
  margin: 1% 0;
}

.reset-text {
  margin: 0;
}

/* layout.html styles */
.alert {
  height: 2.5rem;
  padding-top: 0.5rem;
}

.alert-btn {
  margin-bottom: 3%;
  float: right;
}

.alert-msg {
  margin-bottom: 4%;
  font-size: 1.25rem;
}

.footer {
  height: 10%;
  margin: 0;
  bottom: 10px;
}

/* login.html styles */
/* password.html styles */
/* register.html styles */

/* revision.html styles */
#range {
  width: 15%;
}

/* timer.html styles */
#timer {
  font-size: 5rem;
}

.timer-btn {
  font-size: 1.5rem;
  width: 7rem;
  height: 3rem;
}
