{% extends "layout.html" %}

{% block main %}
    <h1>The "Retrospective" Revision</h1>
    <section class="about-text">
        <h2 >What is a Retrospective Revision Timetable?</h2>
        <p>
            A retrospective revision timetable, in constrast to a regular revision timetable, "plans"
            to revise weak topics, rather than to revise a topic according to a schedule.

            <br>

            Rather than starting out with a fixed schedule, a retrospective revision timetable allows more
            flexibility, by starting out with a list of subjects rather than a set of dates. Each time you
            wish to study/revise, pick a topic which you're struggling with as per the timetable, revise it,
            and log your proficiency. This will help you identify weak points in your exam/test preparations,
            until you are proficient with each topic. 
            
            <br>

            The process is as follows-
            <ol>
                <li>Study session</li>
                <li>Log revision and rate proficiency</li>
                <li>Break</li>
                <li>During the next study session, look at the table, and decide what you want to revise</li>
                <li>Study session</li>
                <li>Log revision and rate proficiency</li>
                <li>Break</li>
                <li>Repeat!</li>
            </ol>

            <figure class="about">
                <figcaption>An implementation of a retrospective revision timetable.</figcaption>
                <img class="about-img" src="static/images/retro_1.png" alt="retrospective revision timetable">
            </figure>
           
        </p>
    </section>
    
    <section class="about-text">
        <h2>Advantages of a Retrospective Revision Timetable-</h2>
        <p>
            There are several advantages of a retrospective revision timetable-
            <ul>
                <li>Ensures all weak topics are covered</li>
                <li>Flexible and adaptable</li>
                <li>Requires little to no setup (to use this website all you have to do is register for an account)</li>
                <li>Useful for students struggling to decide what to revise</li>
            </ul>

            This is a great tool for preparing for major exams, to ensure you cover all areas and aspects of 
            a topic.

        </p>
    </section>


{% endblock %}