{% extends "layout.html" %}

{% block main %}
    <h1>The "Retrospective" Revision</h1>
    <section class="about-text">
        <h2 >What is a Retrospective Revision Timetable?</h2>
        <p>
            A retrospective revision timetable, in constrast to a regular revision timetable, "plans"
            to revise weak topics, rather than to revise a topic according to a schedule.

            <br>

            Rather than starting out with a fixed schedule, a retrospective revision timetable allows more
            flexibility, by starting out with a list of subjects rather than a set of dates. Each time you
            wish to study/revise, pick a topic which you're struggling with as per the timetable, revise it,
            and log your proficiency. This will help you identify weak points in your exam/test preparations,
            until you are proficient with each topic. 
            
            <br>

            The process is as follows-
            <ol>
                <li>Study session</li>
                <li>Log revision and rate proficiency</li>
                <li>Break</li>
                <li>During the next study session, look at the table, and decide what you want to revise</li>
                <li>Study session</li>
                <li>Log revision and rate proficiency</li>
                <li>Break</li>
                <li>Repeat!</li>
            </ol>

            To log a revision in your retrospective revision timetable, click <a href="/log">here</a>
            <figure class="about">
                <img class="about-img" src="static/images/retro_1.png" alt="retrospective revision timetable">
                <figcaption>An implementation of a retrospective revision timetable.</figcaption>
            </figure>
           
        </p>
    </section>
    

{% endblock %}