{% extends "layout.html" %}

{% block main %}
    <h1>The "Retrospective" Revision</h1>
    <div class="about-text">
        <h2 >What is a Retrospective Revision Timetable?</h2>
        <p>
            A retrospective revision timetable, in constrast to a regular revision timetable, "plans"
            to revise weaknesses, rather than to revise the next topic again and again.
            
            The process is as follows-
            <ol>
                <li>Study session</li>
                <li>Log revision and rate proficiency</li>
                <li>Break</li>
                <li>During the next study session, look at the table, and decide what you want to revise</li>
                <li>Study session</li>
                <li>Log revision and rate proficiency</li>
                <li>Break</li>
                <li>Repeat!</li>
            </ol>

            To log a revision in your retrospective revision timetable, click <a href="/log">here</a>
            <figure>
                <img src="static/images/retro_1.png" alt="retrospective revision timetable" height="20%" width="80%">
                <figcaption>An implementation of a retrospective revision timetable.</figcaption>
            </figure>
           
        </p>
    </div>
    
    

{% endblock %}