{% extends "layout.html" %}

{% block main %}
    <form action="/delete" method="post">
        <select aria-label="Select subject to delete" name="subject">
            <option value="_" selected disabled>Subject</option>
            {% for subject in subjects %}
                <option value="{{ subject['subject'] }}">{{ subject['subject'] }}</option>
            {% endfor %}
        </select>
        <button aria-label="Delete selected subject" class="btn btn-primary" type="submit">Delete Subject</button>
    </form>
{% endblock %}