{% extends "layout.html" %}

{% block main %}
    <!-- Responsive Bootstrap Table -->
    <section class="table-responsive-xl">
        <caption>
            <h1>My Retrospective Revision Timetable</h1>
        </caption>
        <table class="table table-striped table-borderless">
            <thead>
                    <!-- Dynamically numbers revisions from one to REVISION_SESSION_COUNT -->
                    <th>Subject / Topic</th>
                    {% for i in range(REVISION_SESSION_COUNT) %}
                        <th>{{ i + 1 }}</th>
                    {% endfor %}
            </thead>

            <tbody>
                <!-- Displays each subject and sets cell background color -->
                {% for subject in subjects %}
                    <tr>
                        <td>{{ subject['subject'] }}</td>
                        {% for i in range(10) %}
                            {% with revision = "revision_" ~ (i + 1) %}
                            {% with color = "color_" ~ (i + 1) %}
                            {% with date = subject[revision] %}
                            {% if date != None %}
                                <td style="background-color: {{ subject[color] }};">{{ date }}</td>
                            {% else %}
                                <td width="8%" ></td>
                            {% endif %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <br>
    <br>
    <br>

    <!-- Bootstrap forms -->
    <section>
        <!-- Form to reset the entire timetable -->
        <form action="/reset" method="post">
            <h5 class="reset-text">Reset Timetable (delete everything)</h5>
            <br>
            <button aria-label="Reset entire timetable button" class="reset-btn" type="submit">Reset Timetable</button>
        </form>
        
        <!-- Form to reset a particular subject -->
        <form action="/resetsubj" method="post">
            <h5 class="reset-text">Reset Subject (clear entries for a particular subject)</h5>
            <select class="reset-select" name="resetSubject">
                <option value="_" selected disabled>Subject</option>
                {% for subject in subjects %}
                    <option value="{{ subject['subject'] }}">{{ subject['subject'] }}</option>
                {% endfor %}
            </select>
            <br>
            <button aria-label="Reset selected subject button" class="reset-btn" type="submit">Reset Subject</button>
        </form>
    </section>

{% endblock %}