{% extends "layout.html" %}

{% block main %}
    <section>
        <h1 id="title">Pomodoro Timer</h1>
        <h2 id="timer"> click start </h2>
        <h4>Sessions Completed: </h4>
        <h3 id="checkmarks">0</h3>
    
        <br>
    
        <button aria-label="Start Pomodoro timer button" class="timer-btn" id="start"> Start </button>
        <button aria-label="Reset Pomodoro timer button" class="timer-btn" id="reset"> Reset </button>
    </section>

    <section class="about-text">
        <h5>
            This is a basic implementation of the Pomodoro technique, useful for your study sessions.
            <br>
            <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">The Pomodoro Technique Wikipedia link</a>
        </h5>
    </section>
{% endblock %}

{% block scripts %}
    <script src="static/timer.js"></script>
{% endblock %}